<div class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/../">Noah Coleman</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <!-- <li><a href="/../">Home</a></li> -->
      <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Work <span class="caret"></span></a>
        <ul class="dropdown-menu" >
          <li><a href="/2015/">2015</a></li>
          <li><a href="/2014/">2014</a></li>
          <li><a href="/2013/">2013</a></li>
          <li><a href="/2012/">2012</a></li>
          <li><a href="/2011/">2011</a></li>
          <li class="divider"></li>
          <li><a href="/Earlier/">Earlier</a></li>
        </ul>
      </li>
      <li><a href="/cv">CV</a></li>
      <li><a href="/bio">Bio</a></li>
      <li><a href="/statement">Statement</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <form class="navbar-form navbar-left">
      <!-- <input type="text" class="form-control col-lg-8" placeholder="Search"> -->
    </form>
    <ul class="nav navbar-nav navbar-right">
    	<!-- <input type="text" class="form-control col-lg-8" placeholder="Search"> -->
    </ul>
  </div>
</div>