$content-width: 800px; //max width of text
$main: #E24E42; //main text color
$font-style: 'Open Sans', sans-serif;
$font-color: #262656; //basic font color
$link-color: #008F95; //link color
$link-hover-color: $main; //link hover color
$heading-font: 'Muli', sans-serif;
$heading-font-color: #EB6E80;
$light: #E7EDF4; //line between header and rest of page
$header:  #49274A; //background color of header

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
